.App {
  background: #FAFAFA;

}


// table
.fn-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #F0F0F0;
  background: #ffffff;

  .minimum-width {
    width: 1%;
    white-space: nowrap;
    padding: 0 30px;
  }

  thead {
    height: 50px;
    border-bottom: 2px solid #0C2D4D;
  }

  th,
  td {
    border: 1px dashed #D8DFE6;
    text-align: left;
    padding: 0 30px;
    height: 50px;
  }

  td {
    border-bottom: 2px solid #DEDEDE;
  }

  .arrow-icon {
    margin-left: 10px;
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;

  .left {
    display: flex;
  }

  .right {
    display: flex;
    align-items: center;

  }

  .page-number {
    margin-right: 10px;
    border: transparent;

    &:focus {
      outline: none;
    }
  }

  .pag-arrow-left {
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
  }

  .pag-arrow-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
}