.App {
  background: #FAFAFA;
  padding: 40px;
}

.tb-title {
  font-size: 36px;
  color: #0D2D4D;
  font-weight: 400;
  margin-bottom: 40px;
}


// table
.fn-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #F0F0F0;
  background: #ffffff;
  color: #707070;

  .minimum-width {
    width: 1%;
    white-space: nowrap;
    padding: 0 30px;
  }

  thead {
    height: 50px;
    border-bottom: 2px solid #0C2D4D;
    color: #0C2D4D;
    cursor: pointer;
  }

  th,
  td {
    border: 1px dashed #D8DFE6;
    text-align: left;
    padding: 0 30px;
    height: 50px;
  }

  .cel-header {
    display: flex;
    font-size: 18px;
  }

  td {
    border-bottom: 2px solid #DEDEDE;
  }

  .arrow-icon {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  height: 60px;
  color: #0C2D4D;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    align-items: center;

  }

  .page-number {
    height: 30px;
    margin-right: 20px;
    border: transparent;
    background: transparent;
    width: 70px;
    padding: 0 15px;
    font: inherit;
    line-height: inherit;
    overflow-y: auto;

    &:focus {
      outline: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pag-arrow-left {
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
  }

  .pag-arrow-right {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
  }
}